/*============== bouton 'passer au contenu ===============*/
main>a {
    background: #DB8876;
    flex-wrap: nowrap;
    border-radius: 5px;
    color: black;
    display: none;
    font-weight: 600;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 180px;
    position: fixed;
    padding: 5px;
    right: 0;
    top: 10px;
    font-family: 'DM Sans', sans-serif;
}
main>a:hover {
    background:#901C1C ;
    color: white;
}